@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "components/bio";
@import "components/services";
@import "layout/footer";
@import "components/contact";

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
