<section class="contact">
  <h1 class="contact__h1">Contacto</h1>
  <form class="contact__form" action="" method="POST">
    <label class="contact__form__label" for="firstName">Nombre *</label>
    <input class="contact__form__input" id="firstName" type="text" name="firstName" required placeholder="Jon Snow" />

    <label class="contact__form__label" for="emailAddress">Email *</label>
    <input class="contact__form__input" type="email" id="emailAdress" name="emailAdress" required placeholder="jon@gmail.com" />

    <label class="contact__form__label" for="phone">Teléfono</label>
    <input class="contact__form__input" id="phone" type="tel" name="phone" placeholder="678 34 56 97" />

    <label class="contact__form__label" for="comments">Comentarios:</label>
    <textarea id="comments" name="comments" rows="8" cols="93"></textarea>

    <input class="contact__form__submit" type="submit" value="Enviar" />
  </form>
</section>
