<section class="services">
  <h1 class="services__h1">Servicios</h1>

  <div class="services__aside">
    <aside class="services__aside__item">
      <img class="icon" src="./assets/images/computer icon.png" alt="" />
      <h2 class="title">Código</h2>
      <p class="text">Páginas webs personalizadas</p>
    </aside>

    <aside class="services__aside__item">
      <img class="icon" src="./assets/images/sobre.png" alt="" />
      <h2 class="title">Comunicación</h2>
      <p class="text">Branded content a tu medida</p>
    </aside>

    <aside class="services__aside__item">
      <img class="icon" src="./assets/images/woman.png" alt="" />
      <h2 class="title">Comunidad</h2>
      <p class="text">Gestión de redes sociales</p>
    </aside>
  </div>
</section>
