<section class="services">
  <h1 class="services__h1">Servicios</h1>
  <div class="services__aside">
    <aside class="services__aside__one">
      <img class="one" src="" alt="" />
      <h2>Código</h2>
      <p>Páginas webs personalizadas</p>
    </aside>
    <aside>
      <img src="" alt="" />
      <h2>Comunicación</h2>
      <p>Branded content a tu medida</p>
    </aside>
    <aside>
      <img src="" alt="" />
      <h2>Comunidad</h2>
      <p>Gestión de redes sociales</p>
    </aside>
  </div>
</section>
