<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Porfolio colorfull</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Mr+Dafoe&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <partial src="_header.html"></partial>
      <main>
        <partial src="_bio.html"></partial>
        <partial src="_services.html"></partial>
        <partial src="_contact.html"></partial>
      </main>
      <partial src="_footer.html"></partial>
    </div>
  </body>
</html>
