.header {
  width: 100vw;

  &__container {
    background: $yellow;
    @media all and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    &__h1 {
      font-family: $title;
      color: $blue;
      font-size: 40px;
      text-align: center;
      background: $yellow;
      padding: 10px 0 10px 0;

      @media all and (min-width: 768px) {
        text-align: left;
        padding: 20px 0px 20px 50px;
      }
    }

    &__nav {
      background: $blue;
      color: $white;
      font-family: $font;
      padding: 10px 0 10px 0;

      @media all and (min-width: 768px) {
        background: $yellow;
        width: 350px;
      }

      &__ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 20px;
        padding: 0px;
        text-transform: uppercase;

        @media all and (min-width: 768px) {
          justify-content: space-between;
          color: $blue;
          margin-right: 50px;
          font-weight: 500;
          margin-top: 30px;
        }
      }
      .li {
        &:hover {
          color: $pink;
        }
      }
    }
  }
}
