.header {
  width: 100%;
  position: fixed;

  &__container {
    background: $yellow;
    @media all and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    &__h1 {
      font-family: $title;
      color: $blue;
      font-size: 50px;
      text-align: center;
      background: $yellow;
      padding: 10px 0 10px 0;
      font-weight: 100;
      position: fixed;
      width: 100%;

      @media all and (min-width: 768px) {
        text-align: left;
        padding: 20px 0px 20px 50px;
        position: fixed;
      }
      @media all and (min-width: 1200px) {
        padding-left: 10%;
      }
    }

    &__nav {
      border-bottom: 1px solid white;
      background: $blue;
      color: $white;
      font-family: $font;
      padding: 10px 0 10px 0;
      position: fixed;
      width: 100%;
      margin-top: 90px;

      @media all and (min-width: 768px) {
        background: $yellow;
        width: 50%;
        margin: 0px;
        margin-left: 50%;
        border: none;
      }
      @media all and (min-width: 1200px) {
        max-width: 30%;
        margin-left: 60%;
        border: none;
      }

      &__ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 50px;
        padding: 0px;
        text-transform: uppercase;

        @media all and (min-width: 768px) {
          justify-content: space-between;
          color: $blue;
          margin-right: 50px;
          font-weight: 500;
          margin-top: 40px;
        }
      }
      .li {
        &:hover {
          color: $pink;
        }
      }
    }
  }
}
